.dashboard-flex-parent{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}

.dashboard-box{
    width: 300px;
    height: 150px;
    background: #b2e3ff;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.dashboard-content{
    overflow-y: scroll;
    height: 85%;
    width: 100%;
    padding-left: 107px;
    padding-right: 40px;
}

.graph{
    float: left;
    margin-top: 35px;
}

.dataDashboardWrapper{
    float: right;
}
.dataDashboardWrapper div:last-child {
    border-bottom: none;
}
.dataDashboard {
    width: 342px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px 100px;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    height: auto;
}
.cardWrapper{
    margin-left: -45px;
    margin-top: 10px;
    width: 103%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;;
}
.card1 {
    margin-top: 20px;
    width: 47%;
    background-color: #00a2ff4d;
    border-radius: 30px;
    padding: 30px;
}

.card1 h4, .card1txt {
    float: left;
    width: 50%;
    text-align: left;
}

.card1 h4 {
    font-size: 16px;
}

.card1 p {
    float: left;
    font-size: 12px;
}

.card1 a, .nmber {
    float: right;
    width: 50%;
    text-align: right;
}

.card1 h6 {
    width: 100%;
    padding-bottom: 15px;
    border-bottom: 1px solid #DFE0EB;
    margin-top: 25px;
}



.nameWRPR {
    width: 50%;
    float: left;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
}